# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-64/bzip2-1.0.8-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/ca-certificates-2023.01.10-hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libcxx-14.0.6-h9765a3e_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libffi-3.4.2-hecd8cb5_6.conda
https://repo.anaconda.com/pkgs/main/osx-64/ncurses-6.4-hcec6c5f_0.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2023c-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/xz-5.2.10-h6c40b1e_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/zlib-1.2.13-h4dc903c_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/openssl-1.1.1t-hca72f7f_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/readline-8.2-hca72f7f_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/tk-8.6.12-h5d9f67b_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/sqlite-3.41.2-h6c40b1e_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/python-3.11.3-h1fd4e5f_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/certifi-2022.12.7-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-2.0.4-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/click-8.0.4-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/idna-3.4-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/itsdangerous-2.0.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/markupsafe-2.1.1-py311h6c40b1e_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.21-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pymongo-3.12.0-py311hcec6c5f_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pysocks-1.7.1-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/setuptools-66.0.0-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/wheel-0.38.4-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/cffi-1.15.1-py311h6c40b1e_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/jinja2-3.1.2-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pip-23.0.1-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/werkzeug-2.2.3-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/brotlipy-0.7.0-py311h6c40b1e_1002.conda
https://repo.anaconda.com/pkgs/main/osx-64/cryptography-39.0.1-py311hf6deb26_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/flask-2.2.2-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/flask_cors-3.0.10-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pyopenssl-23.0.0-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/urllib3-1.26.15-py311hecd8cb5_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/requests-2.28.1-py311hecd8cb5_1.conda
