<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Add User</h1>
    <form id="userForm">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id">
        <br>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name">
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio">
        <br>
        <input type="submit" value="Submit">
    </form>

    <script>
        // Submit form data as JSON on form submission
        $('#userForm').submit(function(event) {
            event.preventDefault();
            var formData = {
                'id': $('#id').val(),
                'first_name': $('#first_name').val(),
                'last_name': $('#last_name').val(),
                'email': $('#email').val()
                'bio': $('#bio').val(),
            };
            $.ajax({
                type: 'POST',
                url: '/user/add',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(data) {
                    alert('User added successfully');
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Error: ' + xhr.responseJSON.error);
                }
            });
        });
    </script>
</body>
</html>
